body{
  font-family: 'Montserrat', sans-serif;
}


.App {
 
}


#badges-container{
  margin-top:7%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.hot{
  color:rgb(223, 94, 94);
}
.cold{
  color:rgb(130, 130, 240);
}
.temp-is-fine{
  color:#8ad7b5;
}

.humid-high{
  color:rgb(223, 94, 94);
}

.humid-low{
  color:rgb(130, 130, 240);
}

.moist-high{
  color:rgb(223, 94, 94);
}

.moist-low{
  color:rgb(130, 130, 240);

}