body{
  font-family: 'Montserrat', sans-serif;
}


.App {
  background-image: url("../assets/scott-webb-214087-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background: cover;
  height: 90vh;
}
