#badges-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 7%;
  width: 80%;
  color: #8ad7b5;
  margin-left: 2.5em;
  grid-gap: 3em;
}



.hot {
  color: red;
}
.cold {
  color: rgb(130, 130, 240);
}
.is-fine {
    color: #8ad7b5 ;
}

.nums{
  margin-left: 50%;
}

#temp{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#tempText{
  justify-content: end;
}

#moist{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


#humid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}