.navbar {
  height: 5vh;
  background-color: #71c550;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  align-items: center;
  justify-items: center;
}

.navbar span {
  color: white;
  margin: 1em 2em 2em;
}

.navbar a {
  text-decoration: none;
}
